*{
margin: 0;
padding: 0;

}

body{
    font-family: 'Times New Roman', Times, serif;
}

#head{
    background-color:lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#me{
    display: flex;
    justify-content: center;
    padding: 50px;
 
}

.about-me{
    padding: 25px;
}

.about{
    margin-right: 25px;
    /* padding: 10px; */

}

.picture{
    border-radius: 150px;
    height: 300px;
    padding: 10px;
   
    
    
}

#projects{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
   
}

.project{
    display: inline-block;
    
    
}

.pic{
    height: 200px;
    width: 125px;
}

.form{
    display: flex;
    justify-content: center;
}




