:root{
    --primary-color: #f4b014;
    --secondary-color: #72716a;
    --background-color: #ccdbd1;
    --border-radius: 10px;
    --box-shadow:  5px 5px rgb(53, 174, 234), 10px 10px beige, 15px 15px black;
    --buttons-hover: #2db357;
    --padding-size: 10px;


}

*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: var(--secondary-color);

}

/* HEADER SECTION */

#head{
    background-color:rgb(225, 228, 221);
    padding: var(--padding-size);
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: sticky;
}

#head h1{
color: black;
text-shadow: var(--box-shadow);
font-size: 50px;

animation: slideDown 1s ease forwards;

}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* keyframes -> defines an animation
slideDown -> name of the animation we will reference later on the element.

from state

opacity: 0 -> the element starts but you cant see it yet
transform: translateY(-40px); -> the element start 40px above its normal position,
nagativeY movies it upwards

to state

opacity: 1; -> by the end of the animation the element is visible
transform: translateY(0); -> moves to its natural position
*/


.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 50px;
}

.links li {
    cursor: pointer;
    font-weight: bold;
}

.links li::after {
    content: "";
    background-color: black;
    display: block;
    width: 0; 
    /* so its starts hidden */
    height: 2px;
    transition: width 0.5s ease;
}

.links li:hover::after {
    width: 100%;
    /* becomes fully visible on hover */
}


/* MAIN SECTION */


#me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    padding-bottom: 50px;
   
}

#me .about-me{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}


/* keyframes are like steps that tell the browser how an element should animate over time */
@keyframes popIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.30);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#paragraph{
    border: 2px dotted black;
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    background-color: beige;
    width: 50%;
    animation: popIn 1.5s ease forwards;
}


.picture{
    border-radius: 10%;
    height: 250px;
    box-shadow: var(--box-shadow);
    transition: transform 0.4s ease;
    width: 125px;
}

.picture:hover {
    transform: scale(1.5);
}

/* when hovering over picture it enlarges by 1.5 */


/* PROJECT SECTION */


#projects{
    background-color: #3c5d96;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-size);
    gap: 50px;

}

.project{
    background-color: white;
    text-align: center;
    width: 200px;
    border-radius: var(--border-radius);
    padding: var(--padding-size);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.project:hover {
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    transform: translateY(10px);

}

.pic{
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.project h3{
    margin-bottom: 20px;
}

.my-projects{
    font-size: 30px;
    text-align: start;
}


/* CONTACT SECTION */

#contact{
    display: flex;
    justify-content: center;
    padding: var(--padding-size);
    background-color: white;
    background-image: url(./extras/ocean.jpg);
    background-size: cover;
    /* makes it cover the entire section */
    background-position: center;
    /* centers the image */
}


.form {
    display: flex;
    flex-direction: column;
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    width: 50%;
    gap: 20px;
    box-shadow: 0 5px 15px rgba(5, 44, 239, 0.1);
}

    /* box-shadow -> makes the form come out alive */

textarea{
    height: 150px;
}

.phone-number{
    filter: blur(5px);
    transition: blur 0.5s ease;
}
/* applies a blur effect to the text, blurred by 5px.
so when the fiter property changes animate it smoothly over 0.5 secs */

.phone:hover
.phone-number{
   filter: blur(0);
}
/* .phone:hover --> when you hover over the parent element
   .phone-number --> target the child inside it */

.email-address {
    filter: blur(5px);
    transition: blur 0.5s ease;
}

.email1:hover
.email-address{
      filter: blur(0);
}


.form input, 
.form textarea {
    padding: 10px;
    border: 1px solid rgb(64, 134, 239);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.form input:focus, 
.form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(5, 44, 239, 0.1);
}

/* when you click inside the input, the body changes color and the shadow should be smooth */


.form h2, 
.form p {
    text-align: center;
    font-size: 30px;
}

/* centers contact container in the middle */


button {
    background-color: rgb(48, 84, 230);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: var(--padding-size);
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s box-shadow 0.3s;

}
  /* telling the browser when these properties change animate them smoothly
    with over 0.3 seconds instead of changing them instantly.  */


button:hover{
    background-color: rgb(46, 182, 55);
    transform: translateY(-5px);
    /* moves the button up, like its lifted
    negative Y -> moves up (-5px)
    positive Y moves down (5px) */
    box-shadow: 0 5px 35px rgba(5, 44, 300, 3);
}
/* when hovering over submit button it slightly moves up the y axis by 5 pixels*/



/* FOOTER SECTION */

footer{
    background-color: rgb(124, 205, 243);
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-size: 15px;
    padding: var(--padding-size);
    margin-top: 20px;

}

/* medium  devices 768px and up */
@media (max-width: 768px) {

}


