*{
margin: 0;
padding: 0;

}

body{
    font-family: 'Times New Roman', Times, serif;
}

#head{
    background-color:lightblue;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#me{
    display: flex;
    align-items: center;
    padding: 25px;
}

.about-me{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.about{
    margin-right: 25px;
}

.picture{
    border-radius: 100px;
    height: 250px;
    padding: 20px;
}

#projects{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;

}

.project{
    background-color: white;
    text-align: center;
    width: 200px;
}

.pic{
    height: 200px;
    border-radius: 80px;
    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
}

#contact{
    display: flex;
    justify-content: center;
    padding: 50px;
}


.form {
    width: 50%;
    gap: 10px;
}


textarea{
    padding: 30px;
}



button{
    background-color: rgb(226, 162, 43);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: cadetblue;
}

footer{
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

/* medium  devices 768px and up */
@media (max-width: 768px) {

}


