:root{
    --primary-color: #f4b014;
    --secondary-color: #a89432;
    --background-color: #ccdbd1;
    --border-radius: 10px;
    --box-shadow:  5px 5px forestgreen, 10px 10px beige, 15px 15px black;
    --buttons-hover: #2db357;
    --padding-size: 10px;


}

*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: var(--background-color);

}

/* Header only */

#head{
    background-color:var(--background-color);
    padding: var(--padding-size);
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: sticky;
}

#head h1{
color: black;
text-shadow: var(--box-shadow);
font-size: 50px;

}

.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
}

.links li {
    cursor: pointer;
    font-weight: bold;
}

.links li::after {
    content: "";
    display: block;
    background-color: var(--secondary-color);
    width: 0; 
    /* so its starts hidden */
    height: 2px;
    transition: 0.5s;
}

.links li:hover::after {
    width: 100%;
    /* becomes fully visible on hover */
}




/* About me only */


#me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-size);
   
}

#me .about-me{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}


#paragraph{
    border: 2px solid var(--primary-color);
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    background-color: beige;
    width: 50%
}

.picture{
    border-radius: 10%;
    height: 250px;
    box-shadow: var(--box-shadow);

}


/* Project section only */


#projects{
    background-color: #3c5d96;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-size);
    gap: 50px;

}

.project{
    background-color: white;
    text-align: center;
    width: 200px;
    border-radius: var(--border-radius);
    padding: var(--padding-size);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.project:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transform: scale(0.5)

}

.pic{
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.project h3{
    margin-bottom: 20px;
}


/* contact section */

#contact{
    display: flex;
    justify-content: center;
    padding: var(--padding-size);
    background-color: white;
}


.form {
    display: flex;
    flex-direction: column;
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    width: 50%;
    gap: 20px;
    box-shadow: 0 5px 15px rgba(5, 44, 239, 0.1);
}

textarea{
    height: 150px;
}

.form input, .form textarea {
    padding: 10px;
    border: 1px solid rgb(238, 48, 15);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.form input:focus, .form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(5, 44, 239, 0.1);
}

/* when you click inside the input, the boder changes color and the shadow should be smooth */


.form h2, .form p {
    text-align: center;
}


button {
    background-color: rgb(226, 162, 43);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: var(--padding-size);
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;

}

button:hover{
    background-color: var(--background-color);
    transform: scale(1.5);
}
/* when hovering over submit button it enlarges by 1.5 */



footer{
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

/* medium  devices 768px and up */
@media (max-width: 768px) {

}


