*{
margin: 0;
padding: 0;

}

body{
    font-family: 'Times New Roman', Times, serif;
}

#head{
    background-color:lightblue;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#me{
    display: flex;
    justify-content: center;
    padding: 25px;
 
}

.about-me{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.about{
    margin-right: 25px;
    /* padding: 10px; */

}

.picture{
    border-radius: 200px;
    height: 250px;
    padding: 10px;
   
    
    
}

#projects{
    background-color: dimgray;
    display: flex;
    padding: 50px;
    gap: 50px;
   
}

.project{
    display: inline-block;
    
    
}

.pic{
    height: 200px;
    width: 125px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;

}

#contact{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
}


button{
    background-color: rgb(226, 162, 43);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: cadetblue;
}

footer{
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

/* medium  devices 768px and up */
@media (max-width: 768px) {

}


