:root{
    --primary-color: #f4b014;
    --secondary-color: #a89432;
    --background-color: #ccdbd1;
    --border-radius: 10px;
    --box-shadow:  5px 5px forestgreen, 10px 10px beige, 15px 15px black;
    --buttons-hover: #2db357;
    --padding-size: 20px;


}

*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: var(--background-color);

}

/* Header only */

#head{
    background-color:var(--background-color);
    padding: var(--padding-size);
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: sticky;
}

#head h1{
color: black;
text-shadow: var(--box-shadow);
font-size: 50px;

}

.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
}

.links li {
    cursor: pointer;
    font-weight: bold;
}

.links li::after {
    content: "";
    display: block;
    background-color: var(--secondary-color);
    width: 0; 
    /* so its starts hidden */
    height: 2px;
    transition: 0.5s;
}

.links li:hover::after {
    width: 100%;
    /* becomes fully visible on hover */
}




/* About me only */


#me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-size);
}

#me .about-me{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}


#paragraph{
    border: 2px solid var(--primary-color);
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    background-color: beige;
    width: 50%
}

.picture{
    border-radius: 10%;
    height: 250px;
    box-shadow: var(--box-shadow);

}


/* Project section only */





#projects{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;

}

.project{
    background-color: white;
    text-align: center;
    width: 200px;
}

.pic{
    height: 200px;
    border-radius: 80px;
    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



#contact{
    display: flex;
    justify-content: center;
    padding: 50px;
}


.form {
    width: 50%;
    gap: 10px;
}


textarea{
    padding: 30px;
}



button{
    background-color: rgb(226, 162, 43);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: cadetblue;
}

footer{
    background-color: burlywood;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

/* medium  devices 768px and up */
@media (max-width: 768px) {

}


