*{
margin: 0;
padding: 0;

}

body{
    font-family: 'Times New Roman', Times, serif;
}

#head{
    background-color:lightblue;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#me{
    display: flex;
    justify-content: center;
    padding: 50px;
 
}

.about-me{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.about{
    margin-right: 25px;
    /* padding: 10px; */

}

.picture{
    border-radius: 200px;
    height: 250px;
    padding: 10px;
   
    
    
}

#projects{
    display: flex;
    padding: 50px;
    gap: 50px;
   
}

.project{
    display: inline-block;
    
    
}

.pic{
    height: 200px;
    width: 125px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    background-color: rgb(226, 162, 43);
    color: white;
}

footer{
    background-color: burlywood;
    color: white;
    text-align: center;
}

.links{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;

}

#contact{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
}



